<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <!--响应机制  -->
    <div>
      <!-- // 数据与app模板绑定了，响应式 -->
      {{message}}
      {{message+1111}}
      {{message ? 'yes' : 'ok'}}
      <!-- : v-bind  数据绑定 -->
      <!-- <img :src="path"></img> -->
      <!-- 动态绑定事件名 -->
      <span v-on:[event]="dosomething"></span>
      <!-- 绑定事件修饰符 -->
    </div>
    <!-- 条件渲染 -->
    <div>
      <!-- v-if 真正的条件渲染，只有条件为true时才会局部渲染dom，更改为false 后删除dom-->
      <h2 v-if="isShow">aaaa</h2>
      <!-- v-show 无论真假都渲染了dom，false只是隐藏了dom-->
      <h2 v-show="isshow">bbb</h2>
    </div>
    <!-- 事件监听器 v-on-->
    <div>
      <p>{{message2}}</p>
      <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <!-- 用户输入绑定数据 -->
    <!-- v-model -->
    <div>
      <input type="text" v-model="message">
    </div>


    <!-- vue 修饰符 -->
    <div>
      <!-- .stop 阻止单击事件继续传播？？？？？-->
      <a @click="doThis" href="https://www.baidu.com/">111</a>
      <a @click.stop="doThis" href="https://www.baidu.com/">222</a>
      <!-- .prevent提交事件不再重载页面 -->
      <form v-on:submit.prevent="onSubmit"></form>
      <button @click.prevent="doThis">button</button>
      <!-- 添加事件监听器时使用事件捕获模式 -->
      <!-- 即内部元素触发的事件先在此处理，然后才交由内部元素进行处理 -->
      <div v-on:click.capture="doThis">...</div>
      <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
      <!-- 即事件不是从内部元素触发的 -->
      <div v-on:click.self="doThat">...</div>
      <!-- 点击事件将只会触发一次 -->
      <a v-on:click.once="doThis"></a>
    </div>
    <!-- 计算属性 -->
    <div>
      <div>original message:{{message}}</div>
      <div>reverse message: {{reverseMessageComputed}}</div>
      <div>fullname: {{fullName}}</div>
      {{fullName}}
    </div>
    <!--动态 绑定样式 -->
    <div :class='{active:isActive}'>hhhhh</div>
    <!-- div的样式取决于isActive 的 truthiness -->
    <!-- 绑定多个class -->
    <div :class="[active,normal]">qqq</div>
    <!-- 表单输入绑定 -->
    <div>
      <!-- 复选框 checkbox-->
      <!-- 多个选择框时，绑定同一个变量，变量类型是数组，如果是字符串则只能全选或者全不选 -->
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <!-- 若是选择这个选择框，则把属性value的值mike push到checkedNames 不选择则移除 -->
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>
    </div>
    <!-- 单选框 radio -->
    <div>
      <input type="radio" value="one" v-model="picked" id="two">
      <label for="one">one</label>
      <input type="radio" value="two" v-model="picked" id="one">
      <label for="two">two</label>
      <div>picked:{{picked}}</div>
    </div>
    <div>
      <!-- select选择框 -->
      <select v-model="selected">
        <option value="1" label="1"></option>
        <option value="2" label="2"></option>
        <option value="3" label="3"></option>
      </select>
      <!-- 多选 -->
      <select name="" id="" v-model="select" multiple>
        <option value="1" label="1"></option>
        <option value="2" label="2"></option>
        <option value="3" label="3"></option>
      </select>
    </div>
    <div>
      <!-- .lazy -->
      <input type="text" v-model.lazy="lazy">
      <!-- 输入回车之后才同步数据 -->
      <div>{{lazy}}</div>

      <!-- .number -->
      <input type="number" v-model.number="Number">
      <div>Number:{{Number}}</div>
    </div>

    <!-- 组件 -->
    <!-- <blog-post :title="title"></blog-post> -->

    <!-- props -->
    <!-- 渲染数组列表 -->
    <blog-post v-for="item in posts"
    :post='item' ></blog-post>

    <!-- 监听子组件的事件，来修改父组件的data属性 -->
    <div :style="{fontSize:font+'px'}">
      <blog-post2
        v-for="item in posts2"
        :post="item"
        v-on:enlarge-text="font+=0.1">
      </blog-post2>
    </div>
    
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- <script src="https://npmcdn.com/babel-transform-in-browser@6.4.6/dist/btib.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script> -->
<!-- <script type="module"> -->
  <script >
  // import blogPost from './components/blogPost.vue'
  // new a  Vue 实例  
  // 注册组件
  Vue.component('blog-post', {
  // props: ['post','title'],
  props:{
    post:{},
  },
  // 组件包在一个div里！！！！！！！！！！！！！！！1
  // template: 
  // `<h3>{{posts.title}}</h3>
  // <h4>{{posts.content}}</h4>`
  template:
    `<div>
      <h1>{{post.title}}</h1>
      <p>{{post.content}}</p>
    </div>` 
  })

  Vue.component('blog-post2', {
    props:{
      post:{},
    },
    template:
      `<div>
        <h1>{{post.title}}</h1>
        <button @click="$emit('enlarge-text')">enlarge font-size</button>
        <p>{{post.content}}</p>
      </div>` 
  })
  new Vue({
    el: '#app',
    components:{
      // blogPost
    },
    data() {
      return{
        message: new Date().toLocaleString(),
        isShow: false,
        isshow: true,
        message2: 'hello world!',
        event: 'click',
        firstName: 'aaa',
        lastName: 'bbb',
        isActive: true,
        active: 'active',
        normal: 'normal',
        // checkedNames: '',
        checkedNames: [],
        picked:'',
        selected: '',
        select: [],
        lazy: '',
        Number: '',
        title: 'ffffffffff',
        posts:[
          {title: 'aafdaa',content: 'asdfkfaheiurfjnjdsf'},
          {title: 'aabbba', content: 'asdfkfaheiurfjnjdsf'},
          {title: 'safd', content: 'asdfkfaheiurfjnjdsf'},
        ],
        posts2:[
          {title: 'aafdaa',content: 'asdfkfaheiurfjnjdsf'},
          {title: 'aabbba', content: 'asdfkfaheiurfjnjdsf'},
          {title: 'safd', content: 'asdfkfaheiurfjnjdsf'},
        ],
        font:14
      }
    },
    created(){
      // 修改 data 的message ，页面渲染的数据也再改变
      this.message = 'hello'
    },
    methods:{//触发重新渲染时，调用方法总会再执行函数
      reverseMessage () {
        this.message2 = this.message2.split('').reverse().join('')
      },
      dosomething(){
        console.log(111)
      },
      doThis(){
      console.log('baudu.com')
    }
    },
    // 计算属性，观察和响应数据变化
    computed: {//可以缓存

      reverseMessageComputed(){
        // 拿到data的message 进行计算之后返回一个数据并不会修改message
        return this.message.split('').reverse().join('')
          // methods与computed 的区别
          // 在上面的，只要拿到message未改变，即使访问computed的计算属性reverseMessagecomputed多次，也会返回之前的计算结果。 
      },
      now () {
        return Date.now()//Date.now()不是响应式依赖，则该计算属性now 不会更新！!!!!!!!!!!!!!
      },
      // getter和setter
      fullName : {
        // getter:
        get(){
          return this.firstName+'·'+this.lastName
        },
        // setter:
        // set(val){
        //   console.log(111)
        //   console.log('val:',val)
        //   this.firstName = 'ccc'
        // }
        // set: function(val){
        //   console.log('val',val)
        //   var name = val
        //   this.firstName = val
        // }
      }
    },
    // 侦听属性


    
  
  })
</script>
<style>
  .active{
    background-color:red;
  }
  .normal{
    border-bottom: 1px solid #999999;
  }
</style>
</html>